---
title: "CV"
date: 2021-04-29
draft: false
hideLastModified: false
showInMenu: true
---

<style>
.column {
    float: left;
    margin-bottom: 0.15em;
}

.left,
.middle {
    width: 39%;
    margin-right: 2%
}

.right {
    width: 14%;
    text-align: right;
}
.row {
    margin-bottom: 0.4em;
}
.item {
    margin-bottom: 0.1em;
    padding-left: 2em;
    text-indent: -2em;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.straightTable {
    padding-left: 1.75em;
}
.straightTable td {
    padding: 0.25em;
    font-family: Spectral;
    vertical-align: top;
}
h2.cv {
    color: #990000;
    font-size: 1.5em;
    font-family: Rubik;
    font-weight: 500;
    text-align: left;
}
h3.cv {
    font-size: 1.2em;
    font-family: Spectral;
    font-style: italic;
    font-weight: 400;
    padding: 0;
    margin: 1em 0 0;
}
h3.top {
    font-size: 1.2em;
    font-family: Spectral;
    font-style: italic;
    font-weight: 400;
    padding: 0;
    margin: 0;
}
.content {
    width: 100%;
    margin: 1em auto;
    padding-top: 0.25em;
    overflow: auto;
}
.content .leftcol {
    float: left;
    width: 16%;
    margin-right: 3%;
}
.content .rightcol {
    float: right;
    width: 81%;
    padding-top: 0.55em;
}
.heading {
    width: 300px;
    margin: 0 auto;
    padding-top: 0.25em;
    overflow: auto;
    font-size: 10pt;
    border-bottom: solid 2px #990000;
}
h1.myname {
    font-size: 3em;
    text-align: left;
    font-weight: 500;
    margin: 0;
}
.leftcol {
    float: left;
    width: 65%;
    text-align: right;
}
.rightcol {
    float: left;
    width: 35%;
    text-align: left;
}
a.headlink {
    color: #191919;
    font-family: "Fira Code";
    font-size: 9pt;
    text-decoration: none;
}
</style>

<div style="width: 100%; padding-bottom: 180px;">
<h1 class="myname">Jeremy Forest Price, PhD</h1>
<div class="leftcol">
Department of Urban Teacher Education<br />
IU School of Education-Indianapolis at IUPUI<br />
902 West New York Street<br />
Indianapolis, IN 46206
</div>
<div class="rightcol">
1.317.274.6808 <i class="fa fa-phone" style = "color: #990000;")></i><br />
<a class="headlink" href="mailto:jfprice@iupui.edu">jfprice@iupui.edu</a> <i class="fa fa-envelope" style = "color: #990000;")></i><br />
<a href="https://twitter.com/dr_jfprice">dr_jfprice</a> <i class="fa fa-twitter" style = "color: #990000;")></i><br />
<a href="https://github.com/jeremyfprice">jfprice</a> <i class="fa fa-github-alt" style = "color: #990000;")></i>
</div>
</div>

{{ range $.Site.Data.appointments.appointments }}
   {{ partial "jappointments.html" . }}
{{ end }}

{{ partial "layouts/partials/jappointments.html" . }}
